.card{
    width: 19rem;
    cursor: pointer;
    position: relative;
}
.card>img{
    width: 100%;
    height: 10rem;
    object-fit: contain;
}
.creatorImg{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.title,.category{
    font-size: 1rem;
    font-weight: bolder;
    display: block;
    text-align: left;
}
.footer{
    display: flex;
    gap: 1rem;
}
.clock{
    height: 1.5rem;
}
.watchLaterToggler{
    position: absolute;
    top:0;
    right: 0.7rem;
    background-color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 0 0 0 8px;
}