.container{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.player{
    border:2px solid;
    padding: 1rem;
    margin: 1rem ;
}
.suggestionCard{
    color:#569ECF;
    text-align: left;
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    font-weight: bolder;
    width: 25rem;
}
.suggestionCard img{
    height: 7rem;
    width:12rem;
    
}
.info{
    border-bottom: 2px solid grey;
    display: flex;
    align-items: center;
    font-weight: bolder;
    justify-content: space-between;
    padding: 0.5rem;
}
.info>div:first-child{
    display: flex;
    align-items: center;
    gap:0.5rem;
}
.info>div:nth-child(2){
    display: flex;
    gap: 0.5rem;
}
.info>div:nth-child(2) span{
    cursor: pointer;
}
.creatorImg{
    height:3rem;
    width: 3rem;
    border-radius: 50%;
}
.watchLater{
    height: 1.5rem;
    cursor: pointer;
}
.note{
    display: flex;
    justify-content: space-between;
}
.note span{
    cursor: pointer;
    margin: 0 0.5rem;
}
.playlists{
    position: relative;
}
.playlists>div{
    position: absolute;
    background-color: #ffffff;
    border:2px solid #000000;
    min-width: 10rem;
    transform: translate(-40%,0%);
    text-align: center;
    
    cursor: pointer;
}
.playlists>div>div{
    padding: 0.3rem;
}
.playlists>div>div:hover{
background-color: rgba(189, 189, 189, 0.8);
}
.createPlaylistBtn{
    background-color: #519FCF;
    padding: 0.5rem;
    border-radius: 4px;
    color:#ffffff;
}